body {
  margin: 0;
  height: 100vh;
  background: #0d0d0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heart {
  position: relative;
  width: 20vmin;
  height: 18vmin;
  background: red;
  transform: rotate(-45deg);
  animation: beat 1.5s infinite;
  box-shadow: 0 0 3vmin rgba(255, 0, 0, 0.6);
  filter: blur(0.2vmin);
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20vmin;
  height: 18vmin;
  background: red;
  border-radius: 50%;
  filter: blur(0.2vmin);
  box-shadow: 0 0 3vmin rgba(255, 0, 0, 0.6);
}

.heart::before {
  top: -10vmin;
  left: 0;
}

.heart::after {
  top: 0;
  left: 10vmin;
}

@keyframes beat {
  0%, 100% {
    transform: scale(1) rotate(-45deg);
  }
  25% {
    transform: scale(1.2) rotate(-45deg);
  }
  50% {
    transform: scale(1.1) rotate(-45deg);
  }
  75% {
    transform: scale(1.2) rotate(-45deg);
  }
}

H3 {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin-top: 5vh;
  padding: 0 5vw;
  font-size: 4vw;
}

@media (min-width: 768px) {
  H3 {
    font-size: 2vw;
  }
}
